<div class='mdl-grid'>
  <div class='mdl-cell--3-col'>
  </div>
  <div class='mdl-cell--6-col'>
    <h1>Robotic Needs Assessment</h1>
  </div>
</div>

<form action="/results" method="get">
  <div class='mdl-grid'>
    <div class='mdl-cell--3-col'>
    </div>
    <div class='mdl-cell--3-col'>
      <h3>I want my robots to be...</h3>
    </div>
    <div class='mdl-cell--3-col'>

      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
        <input name="humanoid" type="checkbox" id="checkbox-1" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Humanoid</span>
      </label>

      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
        <input name="fun" type="checkbox" id="checkbox-2" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Fun</span>
      </label>

      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-3">
        <input name="educational" type="checkbox" id="checkbox-3" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Educational</span>
      </label>

      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-4">
        <input name="helpful" type="checkbox" id="checkbox-4" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Helpful</span>
      </label>

    </div>
    <div class='mdl-cell--3-col'>
    </div>
  </div>

  <div class='mdl-grid'>
    <div class='mdl-cell--3-col'>
    </div>
    <div class='mdl-cell--3-col'>
      <h3>What is your least favorite chore?</h3>
    </div>
    <div class='mdl-cell--3-col'>

      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-5">
        <input name="vacuuming" type="checkbox" id="checkbox-5" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Vacuuming</span>
      </label>

      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-6">
        <input name="mowing" type="checkbox" id="checkbox-6" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Mowing</span>
      </label>

      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-7">
        <input name="scrubbing" type="checkbox" id="checkbox-7" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Scrubbing Floors</span>
      </label>
    </div>
    <div class='mdl-cell--3-col'>
    </div>
  </div>

  <div class='mdl-grid'>
    <div class='mdl-cell--3-col'>
    </div>
    <div class='mdl-cell--3-col'>
      <h3>What else should a robot be able to do?</h3>
    </div>
    <div class='mdl-cell--3-col'>

      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-8">
        <input name="pictures" type="checkbox" id="checkbox-8" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Taking pictures</span>
      </label>

      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-9">
        <input name="surveillance" type="checkbox" id="checkbox-9" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Surveillance</span>
      </label>

      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-10">
        <input name="entertainment" type="checkbox" id="checkbox-10" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Entertainment</span>
      </label>
    </div>
    <div class='mdl-cell--3-col'>
    </div>
  </div>

  <div class='mdl-grid'>
    <div class='mdl-cell--3-col'>
    </div>
    <div class='mdl-cell--3-col'>

    </div>
    <div class='mdl-cell--3-col'>

      <!-- Simple Textfield -->
      <div class="mdl-textfield mdl-js-textfield">
        <input name = "other" class="mdl-textfield__input" type="text" id="sample1">
        <label class="mdl-textfield__label" for="sample1">Other...</label>
      </div>

    </div>
  </div>

  <div class='mdl-grid'>
    <div class='mdl-cell--3-col'>
    </div>
    <div class='mdl-cell--3-col'>

    </div>
    <div class='mdl-cell--3-col'>

      <!-- Colored raised button -->
      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        Submit
      </button>

    </div>
    <div class='mdl-cell--3-col'>
    </div>
  </div>
</form>
