<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col"></div>
  <div class="mdl-cell mdl-cell--6-col">
    <h1>Welcome to RoboFinder</h1>
    <h2>Find a robot to make your life better</h2>
    <form action='/assessment' method='get' >
      <button type='submit' class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        Take the Robotic Needs Assessment!
      </button>
    </form>
  </div>
  <div class="mdl-cell mdl-cell--3-col"></div>
</div>
